.open-head {
    color: white;
    text-align: center;
    background-color: black;
    width: auto;
    height: auto;
}

.desc {
    margin-top: 100px;
    text-align: center;
    color: white;
}

.view {
    background-color: darkgoldenrod;
}